<style>
  .clock {
    font-family: 'PT Mono';
  }
</style>

<input type="text" name="normal"/>
<input type="text" name="eng"/>
<p>[<span class="clock eng"></span>]

<script src="date-eng.js"></script>
